
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    padding:0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

:root{
    --primary-color:#3b82f6;
    --secondary-color:grey;
    --off-white:#f3f4f6;
}
.space{
    padding: 15px;
}

.navigation{
    text-align: right;
    background-color: #3b82f6;
    padding: 0.7rem 1rem;
    border-bottom-left-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    width: 85%;
    margin:auto;
}
.logo{
text-align: left;
color: white;
font-size: large;
font-weight:bold;
}
.nav-button{
    display: inline;
    color: white;
    text-decoration: none;
}
.link-active{

    font-weight: bold;
}

.head{
padding: 2rem;
}

.heading-img{
    max-width: 350px;
    margin: auto;
    display: block;
    padding-top: 5rem;
    padding-bottom: 2rem;
}
.heading{
    padding: 3rem 1rem;
    color: gray;
    text-align: center;
}
.inverted-heading{
    
    color: var(--primary-color);
}

.container-center{
    margin:auto;
    max-width: 800px;
}
.link{
    text-decoration: none;
    text-align: center;
    color: white;
}
.link-primary{
    text-decoration: none;
    color: var(--primary-color);
    background-color: var(--primary-color);
    border-radius: 1rem;
    color: white;
    padding: 0.5rem 1rem;
}
.link-secondary{
    text-decoration: none;
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}
.non-bullet-list
{
    list-style: none;
}
.list-inline{
    color: white;
    display: inline;
    padding: 1rem 1rem;
}

.section{
    margin: auto;
    padding: 3rem;
    text-align: center;
    border-radius: 1rem;
    max-width: 1000px;
    width: 70%;

}
.section h1{
/**1:08:00**/
}
.ow{
    background-color:var(--off-white)
}
.footer{
    padding: top 4rem;
    margin:auto;
    text-align: center;
    border-top: 0.7rem;
    background-color: var(--primary-color);
    color: white;
    padding: 2rem 1rem;
    border-top-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
}
.footer.ui{
    padding-inline-start:0px;
}
